{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Options{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="api_key">API Key</label>
    <input name="api_key" id="api_key" required>
    <label for="raid_id">Raid</label>
    <select name="raid_id" id="raid_id" required>
      <option value="1000">Molten Core</option>
      <option value="1002">Blackwing Lair</option>
      <option value="1005">Temple of Ahn'Qiraj</option>
    </select>
    <input type="submit" value="Go">
  </form>
{% endblock %}
